doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title СТО
  meta(name='description' content='A high-quality & free Bootstrap admin dashboard template pack that comes with lots of templates and components.')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  link#main-stylesheet(rel='stylesheet' data-version='1.1.0' href='styles/shards-dashboards.1.1.0.min.css')
  link(rel='stylesheet' href='styles/extras.1.1.0.min.css')
  script(async='' defer='' src='https://buttons.github.io/buttons.js')
//.color-switcher.animated
//  h5 Accent Color
//  ul.accent-colors
//    li.accent-primary.active(data-color='primary')
//      i.material-icons check
//    li.accent-secondary(data-color='secondary')
//      i.material-icons check
//    li.accent-success(data-color='success')
//      i.material-icons check
//    li.accent-info(data-color='info')
//      i.material-icons check
//    li.accent-warning(data-color='warning')
//      i.material-icons check
//    li.accent-danger(data-color='danger')
//      i.material-icons check
//  .actions.mb-4
//    a.mb-2.btn.btn-sm.btn-primary.w-100.d-table.mx-auto.extra-action(href='https://designrevision.com/downloads/shards-dashboard-lite/')
//      i.material-icons cloud
//      |  Download
//    a.mb-2.btn.btn-sm.btn-white.w-100.d-table.mx-auto.extra-action(href='https://designrevision.com/docs/shards-dashboard-lite')
//      i.material-icons book
//      |  Documentation
//  .social-wrapper
//    .social-actions
//      h5.my-2 Help us Grow
//      .inner-wrapper
//        a.github-button(href='https://github.com/DesignRevision/shards-dashboard' data-icon='octicon-star' data-show-count='true' aria-label='Star DesignRevision/shards-dashboard on GitHub') Star
//        // <iframe style="width: 91px; height: 21px;"src="https://yvoschaap.com/producthunt/counter.html#href=https%3A%2F%2Fwww.producthunt.com%2Fr%2Fp%2F112998&layout=wide" width="56" height="65" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
//    #social-share(data-url='https://designrevision.com/downloads/shards-dashboard-lite/' data-text='🔥 Check out Shards Dashboard Lite, a free and beautiful Bootstrap 4 admin dashboard template!' data-title='share')
//    .loading-overlay
//      .spinner
//  .close
//    i.material-icons close
//.color-switcher-toggle.animated.pulse.infinite
//  i.material-icons settings
.container-fluid
  .row
    // Main Sidebar
    aside.main-sidebar.col-12.col-md-3.col-lg-2.px-0
      .main-navbar
        nav.navbar.align-items-stretch.navbar-light.bg-white.flex-md-nowrap.border-bottom.p-0
          a.navbar-brand.w-100.mr-0(href='#' style='line-height: 25px;')
            .d-table.m-auto
              img#main-logo.d-inline-block.align-top.mr-1(style='max-width: 25px;' src='images/shards-dashboards-logo.svg' alt='Shards Dashboard')
              span.d-none.d-md-inline.ml-1 АРМ Администратор
          a.toggle-sidebar.d-sm-inline.d-md-none.d-lg-none
            i.material-icons &#xE5C4;
      form.main-sidebar__search.w-100.border-right.d-sm-flex.d-md-none.d-lg-none(action='#')
        .input-group.input-group-seamless.ml-3
          .input-group-prepend
            .input-group-text
              i.fas.fa-search
          input.navbar-search.form-control(type='text' placeholder='Search for something...' aria-label='Поиск')
      .nav-wrapper
        ul.nav.flex-column
          li.nav-item
            a.nav-link.active(href='index')
              i.material-icons edit
              span Главная
          li.nav-item
            a.nav-link.dropdown-toggle(href='servicelist'  data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              i.material-icons vertical_split
                span Заказ-наряд
              .dropdown-menu(aria-labelledby='dropdownMenuLink')
                a.dropdown-item(href='servicelist') Посмотреть
                a.dropdown-item(href='addservicelist') Создать
                a.dropdown-item(href='#') Что-то еще


          li.nav-item
            a.nav-link.dropdown-toggle(href='servicelist'  data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              i.material-icons note_add
                span Справочники
              .dropdown-menu(aria-labelledby='dropdownMenuLink')
                a.dropdown-item(href='client') Клиенты
                a.dropdown-item(href='car') Автомобили
                a.dropdown-item(href='breakdown') Поломки
                a.dropdown-item(href='service') Услуги
                a.dropdown-item(href='detail') Запчасти
          li.nav-item
            a.nav-link(href='form-components.html')
              i.material-icons view_module
              span Формы
          li.nav-item
            a.nav-link(href='tables.html')
              i.material-icons table_chart
              span О сайте
          //li.nav-item
          //  a.nav-link(href='user-profile-lite.html')
          //    i.material-icons person
          //    span User Profile
          //li.nav-item
          //  a.nav-link(href='errors.html')
          //    i.material-icons error
          //    span Errors
    // End Main Sidebar
    main.main-content.col-lg-10.col-md-9.col-sm-12.p-0.offset-lg-2.offset-md-3
      .main-navbar.sticky-top.bg-white
        // Main Navbar
        nav.navbar.align-items-stretch.navbar-light.flex-md-nowrap.p-0
          form.main-navbar__search.w-100.d-none.d-md-flex.d-lg-flex(action='#')
            .input-group.input-group-seamless.ml-3
              .input-group-prepend
                .input-group-text
                  i.fas.fa-search
              input.navbar-search.form-control(type='text' placeholder='Search for something...' aria-label='Search')
          ul.navbar-nav.border-left.flex-row
            li.nav-item.border-right.dropdown.notifications
              a#dropdownMenuLink.nav-link.nav-link-icon.text-center(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                .nav-link-icon__wrapper
                  i.material-icons &#xE7F4;
                  span.badge.badge-pill.badge-danger 2
              .dropdown-menu.dropdown-menu-small(aria-labelledby='dropdownMenuLink')
                a.dropdown-item(href='#')
                  .notification__icon-wrapper
                    .notification__icon
                      i.material-icons &#xE6E1;
                  .notification__content
                    span.notification__category Analytics
                    p
                      | Your website&rsquo;s active users count increased by
                      span.text-success.text-semibold 28%
                      |  in the last week. Great job!
                a.dropdown-item(href='#')
                  .notification__icon-wrapper
                    .notification__icon
                      i.material-icons &#xE8D1;
                  .notification__content
                    span.notification__category Sales
                    p
                      | Last week your store&rsquo;s sales count decreased by
                      span.text-danger.text-semibold 5.52%
                      | . It could have been worse!
                a.dropdown-item.notification__all.text-center(href='#')  View all Notifications
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle.text-nowrap.px-3(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false')
                img.user-avatar.rounded-circle.mr-2(src='images/avatars/0.jpg' alt='User Avatar')
                span.d-none.d-md-inline-block Sierra Brooks
              .dropdown-menu.dropdown-menu-small
                a.dropdown-item(href='user-profile-lite.html')
                  i.material-icons &#xE7FD;
                  |  Profile
                a.dropdown-item(href='components-blog-posts.html')
                  i.material-icons vertical_split
                  |  Blog Posts
                a.dropdown-item(href='add-new-post.html')
                  i.material-icons note_add
                  |  Add New Post
                .dropdown-divider
                a.dropdown-item.text-danger(href='#')
                  i.material-icons.text-danger &#xE879;
                  |  Logout
          nav.nav
            a.nav-link.nav-link-icon.toggle-sidebar.d-md-inline.d-lg-none.text-center.border-left(href='#' data-toggle='collapse' data-target='.header-navbar' aria-expanded='false' aria-controls='header-navbar')
              i.material-icons &#xE5D2;
      // / .main-navbar
      .main-content-container.container-fluid.px-4
        // Page Header
        .page-header.row.no-gutters.py-4
          .col-12.col-sm-4.text-center.text-sm-left.mb-0
            span.text-uppercase.page-subtitle Главная
            h3.page-title Показатели
        // End Page Header
        // Small Stats Blocks
        //.row
        //  .col-lg.col-md-6.col-sm-6.mb-4
        //    .stats-small.stats-small--1.card.card-small
        //      .card-body.p-0.d-flex
        //        .d-flex.flex-column.m-auto
        //          .stats-small__data.text-center
        //            span.stats-small__label.text-uppercase Продажи
        //            h6.stats-small__value.count.my-3 2,390
        //          .stats-small__data
        //            span.stats-small__percentage.stats-small__percentage--increase 4.7%
        //        canvas.blog-overview-stats-small-1(height='120')
        //  .col-lg.col-md-6.col-sm-6.mb-4
        //    .stats-small.stats-small--1.card.card-small
        //      .card-body.p-0.d-flex
        //        .d-flex.flex-column.m-auto
        //          .stats-small__data.text-center
        //            span.stats-small__label.text-uppercase Доход
        //            h6.stats-small__value.count.my-3 182
        //          .stats-small__data
        //            span.stats-small__percentage.stats-small__percentage--increase 12.4%
        //        canvas.blog-overview-stats-small-2(height='120')
          //.col-lg.col-md-4.col-sm-6.mb-4
          //  .stats-small.stats-small--1.card.card-small
          //    .card-body.p-0.d-flex
          //      .d-flex.flex-column.m-auto
          //        .stats-small__data.text-center
          //          span.stats-small__label.text-uppercase Comments
          //          h6.stats-small__value.count.my-3 8,147
          //        .stats-small__data
          //          span.stats-small__percentage.stats-small__percentage--decrease 3.8%
          //      canvas.blog-overview-stats-small-3(height='120')
          //.col-lg.col-md-4.col-sm-6.mb-4
          //  .stats-small.stats-small--1.card.card-small
          //    .card-body.p-0.d-flex
          //      .d-flex.flex-column.m-auto
          //        .stats-small__data.text-center
          //          span.stats-small__label.text-uppercase Users
          //          h6.stats-small__value.count.my-3 2,413
          //        .stats-small__data
          //          span.stats-small__percentage.stats-small__percentage--increase 12.4%
          //      canvas.blog-overview-stats-small-4(height='120')
          //.col-lg.col-md-4.col-sm-12.mb-4
          //  .stats-small.stats-small--1.card.card-small
          //    .card-body.p-0.d-flex
          //      .d-flex.flex-column.m-auto
          //        .stats-small__data.text-center
          //          span.stats-small__label.text-uppercase Subscribers
          //          h6.stats-small__value.count.my-3 17,281
          //        .stats-small__data
          //          span.stats-small__percentage.stats-small__percentage--decrease 2.4%
          //      canvas.blog-overview-stats-small-5(height='120')
        // End Small Stats Blocks
        .row
          // Users Stats
          .col-lg-8.col-md-12.col-sm-12.mb-4
            .card.card-small
              .card-header.border-bottom
                h6.m-0 Продажи
              .card-body.pt-0
                .row.border-bottom.py-2.bg-light
                  .col-12.col-sm-6
                    #blog-overview-date-range.input-daterange.input-group.input-group-sm.my-auto.ml-auto.mr-auto.ml-sm-auto.mr-sm-0(style='max-width: 350px;')
                      input#blog-overview-date-range-1.input-sm.form-control(type='text' name='start' placeholder='Start Date')
                      input#blog-overview-date-range-2.input-sm.form-control(type='text' name='end' placeholder='End Date')
                      span.input-group-append
                        span.input-group-text
                          i.material-icons &#xE916;
                  .col-12.col-sm-6.d-flex.mb-2.mb-sm-0
                    button.btn.btn-sm.btn-white.ml-auto.mr-auto.ml-sm-auto.mr-sm-0.mt-3.mt-sm-0(type='button') View Full Report &rarr;
                canvas.blog-overview-users(height='130' style='max-width: 100% !important;')
          // End Users Stats
          // Users By Device Stats
          .col-lg-4.col-md-6.col-sm-12.mb-4
            .card.card-small.h-100
              .card-header.border-bottom
                h6.m-0 Поломки
              .card-body.d-flex.py-0
                canvas.blog-users-by-device.m-auto(height='220')
              .card-footer.border-top
                .row
                  .col
                    select.custom-select.custom-select-sm(style='max-width: 130px;')
                      option(selected='') Last Week
                      option(value='1') Today
                      option(value='2') Last Month
                      option(value='3') Last Year
                  .col.text-right.view-report
                    a(href='#') Full report &rarr;
          // End Users By Device Stats
          // New Draft Component
          .col-lg-4.col-md-6.col-sm-12.mb-4
            // Quick Post
            .card.card-small.h-100
              .card-header.border-bottom
                h6.m-0 New Draft
              .card-body.d-flex.flex-column
                form.quick-post-form
                  .form-group
                    input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='Brave New World')
                  .form-group
                    textarea.form-control(placeholder='Words can be like X-rays if you use them properly...')
                  .form-group.mb-0
                    button.btn.btn-accent(type='submit') Create Draft
            // End Quick Post
          // End New Draft Component
          // Discussions Component
          .col-lg-5.col-md-12.col-sm-12.mb-4
            .card.card-small.blog-comments
              .card-header.border-bottom
                h6.m-0 Discussions
              .card-body.p-0
                .blog-comments__item.d-flex.p-3
                  .blog-comments__avatar.mr-3
                    img(src='images/avatars/1.jpg' alt='User avatar')
                  .blog-comments__content
                    .blog-comments__meta.text-muted
                      a.text-secondary(href='#') James Johnson
                      |  on
                      a.text-secondary(href='#') Hello World!
                      span.text-muted &ndash; 3 days ago
                    p.m-0.my-1.mb-2.text-muted Well, the way they make shows is, they make one show ...
                    .blog-comments__actions
                      .btn-group.btn-group-sm
                        button.btn.btn-white(type='button')
                          span.text-success
                            i.material-icons check
                          |  Approve
                        button.btn.btn-white(type='button')
                          span.text-danger
                            i.material-icons clear
                          |  Reject
                        button.btn.btn-white(type='button')
                          span.text-light
                            i.material-icons more_vert
                          |  Edit
                .blog-comments__item.d-flex.p-3
                  .blog-comments__avatar.mr-3
                    img(src='images/avatars/2.jpg' alt='User avatar')
                  .blog-comments__content
                    .blog-comments__meta.text-muted
                      a.text-secondary(href='#') James Johnson
                      |  on
                      a.text-secondary(href='#') Hello World!
                      span.text-muted &ndash; 4 days ago
                    p.m-0.my-1.mb-2.text-muted After the avalanche, it took us a week to climb out. Now...
                    .blog-comments__actions
                      .btn-group.btn-group-sm
                        button.btn.btn-white(type='button')
                          span.text-success
                            i.material-icons check
                          |  Approve
                        button.btn.btn-white(type='button')
                          span.text-danger
                            i.material-icons clear
                          |  Reject
                        button.btn.btn-white(type='button')
                          span.text-light
                            i.material-icons more_vert
                          |  Edit
                .blog-comments__item.d-flex.p-3
                  .blog-comments__avatar.mr-3
                    img(src='images/avatars/3.jpg' alt='User avatar')
                  .blog-comments__content
                    .blog-comments__meta.text-muted
                      a.text-secondary(href='#') James Johnson
                      |  on
                      a.text-secondary(href='#') Hello World!
                      span.text-muted &ndash; 5 days ago
                    p.m-0.my-1.mb-2.text-muted My money&apos;s in that office, right? If she start giving me...
                    .blog-comments__actions
                      .btn-group.btn-group-sm
                        button.btn.btn-white(type='button')
                          span.text-success
                            i.material-icons check
                          |  Approve
                        button.btn.btn-white(type='button')
                          span.text-danger
                            i.material-icons clear
                          |  Reject
                        button.btn.btn-white(type='button')
                          span.text-light
                            i.material-icons more_vert
                          |  Edit
              .card-footer.border-top
                .row
                  .col.text-center.view-report
                    button.btn.btn-white(type='submit') View All Comments
          // End Discussions Component
          // Top Referrals Component
          .col-lg-3.col-md-12.col-sm-12.mb-4
            .card.card-small
              .card-header.border-bottom
                h6.m-0 Самые продуктивные работники
              .card-body.p-0
                ul.list-group.list-group-small.list-group-flush
                  li.list-group-item.d-flex.px-3
                    span.text-semibold.text-fiord-blue Иван
                    span.ml-auto.text-right.text-semibold.text-reagent-gray 19,291
                  li.list-group-item.d-flex.px-3
                    span.text-semibold.text-fiord-blue Олег
                    span.ml-auto.text-right.text-semibold.text-reagent-gray 11,201
                  li.list-group-item.d-flex.px-3
                    span.text-semibold.text-fiord-blue Наталья
                    span.ml-auto.text-right.text-semibold.text-reagent-gray 9,291
                  li.list-group-item.d-flex.px-3
                    span.text-semibold.text-fiord-blue Оксана
                    span.ml-auto.text-right.text-semibold.text-reagent-gray 8,281
                  li.list-group-item.d-flex.px-3
                    span.text-semibold.text-fiord-blue Степан
                    span.ml-auto.text-right.text-semibold.text-reagent-gray 7,128
              .card-footer.border-top
                .row
                  .col
                    select.custom-select.custom-select-sm
                      option(selected='') Last Week
                      option(value='1') Today
                      option(value='2') Last Month
                      option(value='3') Last Year
                  .col.text-right.view-report
                    a(href='#') Full report &rarr;
          // End Top Referrals Component
      footer.main-footer.d-flex.p-2.px-3.bg-white.border-top
        //ul.nav
          li.nav-item
            a.nav-link(href='#') Home
          li.nav-item
            a.nav-link(href='#') Services
          li.nav-item
            a.nav-link(href='#') About
          li.nav-item
            a.nav-link(href='#') Products
          li.nav-item
            a.nav-link(href='#') Blog
        span.copyright.ml-auto.my-auto.mr-2
          | Copyright &copy; 2019 ki1it&ma-daria
//.promo-popup.animated
  a.pp-cta.extra-action(href='http://bit.ly/shards-dashboard-pro')
    img(src='https://dgc2qnsehk7ta.cloudfront.net/uploads/sd-blog-promo-2.jpg')
  .pp-intro-bar
    | Need More Templates?
    span.close
      i.material-icons close
    span.up
      i.material-icons keyboard_arrow_up
  .pp-inner-content
    h2 Shards Dashboard Pro
    p A premium &amp; modern Bootstrap 4 admin dashboard template pack.
    a.pp-cta.extra-action(href='http://bit.ly/shards-dashboard-pro') Download
script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js')
script(src='https://unpkg.com/shards-ui@latest/dist/js/shards.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js')
script(src='scripts/extras.1.1.0.min.js')
script(src='scripts/shards-dashboards.1.1.0.min.js')
script(src='scripts/app/app-blog-overview.1.1.0.js')
